In [1]:
import sqlite3

In [17]:
# 1. Veritabanına bağlan (Yoksa oluşturur)
conn = sqlite3.connect("akademi.db")
cursor = conn.cursor()

In [11]:
# 2. Tablo oluşturma
cursor.execute("""CREATE TABLE IF NOT EXISTS student (
               id INTEGER PRIMARY KEY,
               name TEXT,
               surname TEXT,
               department TEXT
               )
""")

In [12]:
# 3. Veri ekleme
cursor.execute("""
INSERT INTO student (name, surname, department) VALUES ('Ömer Faruk', 'Aydın', 'Fizik')
""")

In [ ]:
cursor.execute("""CREATE TABLE IF NOT EXISTS department (
               id INTEGER PRIMARY KEY,
               faculty TEXT,
               department TEXT
               )
""")

In [34]:
cursor.execute("""
INSERT INTO department(faculty, department) VALUES ('MF', 'Makine Mühendisliği') 
""")

In [35]:
# 4. Değişiklikleri kaydet ve kapat
conn.commit()
conn.close()

## sorgulamalar ve işlemler

In [36]:
conn = sqlite3.connect("akademi.db")
cursor = conn.cursor()

In [37]:
cursor.execute("SELECT * FROM student")

In [65]:
cursor.fetchone()

In [49]:
cursor.execute("Select * FROM department WHERE id > 5")

In [66]:
cursor.execute("Select * FROM department WHERE department LIKE '%Mühendisliği'")

In [70]:
cursor.execute("SELECT COUNT(*) FROM student")

In [ ]:
cursor.execute("Select * FROM department WHERE department = 'Fizik' AND id > 5")

In [87]:
cursor.execute("SELECT * FROM department")

In [82]:
cursor.fetchall()

[(1, 'EEF', 'Bilgisayar Mühendisliği'),
 (2, 'EEF', 'Elektrik Mühendisliği'),
 (3, 'FEF', 'Fizik'),
 (4, 'FEF', 'Matematik'),
 (5, 'FEF', 'Kimya'),
 (6, 'FEF', 'İstatistik'),
 (7, 'EF', 'İlkokul Matematik Öğretmenliği'),
 (8, 'EF', 'Bilgisayar Teknolojileri Öğretmenliği'),
 (9, 'MF', 'Mekatronik Mühendisliğ'),
 (10, 'MF', 'Makine Mühendisliği')]

In [88]:
for row in cursor:
    print(row[1])

EEF
EEF
FEF
FEF
FEF
FEF
EF
EF
MF
MF

In [93]:
cursor.execute("""
    DELETE FROM department WHERE id > 5
""")

In [94]:
conn.commit()
conn.close()